body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cornflowerblue;
}

.calculator{
    background-color: midnightblue;
    padding: 20px;
    border-radius: 20px;
}

.screens{
    width: 224px;
}

.buttons {
    width: 232px;
}

.buttons seven{
    color: blue; 
    font-size: large ;
    
}



}